.glass {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.sidebar{
  background: rgba(39, 8, 60, 0.133);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}
.material{
  background: rgba(39, 8, 60, 0.133);
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.align {
  position: relative;
  top: 32rem;
}
